:root {
  --mdc-theme-primary: rgb(0, 151, 252);
  --mdc-theme-secondary: var(--mdc-theme-primary);

  --buttonHover: rgba(0, 151, 252, 0.75);
}

html[data-theme="dark"] {
  --background: rgb(50, 50, 50);
  --background2: rgb(60, 60, 60);

  --textColor: white;
  --textColor2: rgb(200, 200, 200);

  --iconHover: rgb(200, 200, 200);

  --textFieldTextColor: rgba(255, 255, 255, 0.75);
  --textFieldLabelColor: rgba(255, 255, 255, 0.6);
  --textFieldBackground: rgba(150, 150, 150, 0.12);

  --radioColor: rgba(255, 255, 255, 0.2);
}

html[data-theme="light"] {
  --background: rgb(220, 220, 220);
  --background2: rgb(230, 230, 230);
  
  --textColor: black;
  --textColor2: rgb(55, 55, 55);

  --iconHover: rgb(70, 70, 70);

  --textFieldTextColor: rgba(0, 0, 0, 0.75);
  --textFieldLabelColor: rgba(0, 0, 0, 0.6);
  --textFieldBackground: rgba(150, 150, 150, 0.12);

  --radioColor: rgba(0, 0, 0, 0.75);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:not(.material-icons) {
  font-family: 'Roboto', sans-serif;
}

.mdc-ripple-surface::before, .mdc-ripple-surface::after {
  background-color: white;
}

.mdc-text-field input {
  color: var(--textFieldTextColor) !important;
}

.mdc-text-field .mdc-floating-label  {
  color: var(--textFieldLabelColor) !important;
}

.mdc-text-field--focused .mdc-floating-label  {
  color: var(--mdc-theme-primary) !important;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: var(--textFieldBackground) !important;
}

.mdc-text-field {
  margin: 8px 0;
  width: 50%;
}

.mdc-radio ~ label {
  cursor: pointer;
}

.mdc-radio .mdc-radio__native-control:enabled:not(:checked) + .mdc-radio__background .mdc-radio__outer-circle {
  border-color: var(--radioColor);
}

.z-depth-2 {
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
}

button {
  cursor: pointer;
  border: none;
}

button:not(#themeChanger) {
  transition: background-color 0.2s;
}

button:not(#themeChanger):hover {
  background-color: var(--buttonHover);
}

body {
  background-color: var(--background);
  color: var(--textColor);
  text-align: center;
}

.gray {
  color: var(--textColor2);
  font-weight: bold;
}

#dsc {
  font-size: 35px;
  font-weight: 900;
  letter-spacing: 2px;
  padding: 25px;
  margin-bottom: 75px;
}

#calculations {
  display: flex;
  justify-content: space-around;
  font-size: 20px;
  font-weight: 900;
  letter-spacing: 1px;
}

#calculations .section {
  background-color: var(--background2);
  letter-spacing: 2px;
  font-size: 25px;
  font-weight: 900;
  width: max-content;
  transform: translateX(-50%);
  margin-left: 50%;
  text-align: center;
  padding: 20px 25px;
  border-radius: 50px;
}

#calculations > div {
  width: 100%;
}

#calculations > div * {
  margin: 33px 0px;
}

#infoElement {
  display: none;
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 150px 0px;
}

#calculatorChanger {
  margin: 25px 0px;
}

#currentCalculatorElement {
  font-size: 19px;
  font-weight: 900;
  margin: 25px 0px;
}

#calculateButton {
  margin: 25px 0px;
}

#have {
  width: max-content;
  margin-left: 50%;
  transform: translateX(-50%);
  margin-top: 20px;
}

#have h5 {
  font-size: 20px;
  letter-spacing: 1.25px;
  margin-bottom: 50px;
}

#have > div {
  display: flex;
  justify-content: space-between;
}

#timeRemaining {
  position: fixed;
  bottom: 25px;
  left: 25px;
  font-size: 25px;
  font-weight: 900;
  letter-spacing: 2px;
}

#themeChanger {
  position: fixed;
  bottom: 25px;
  right: 25px;
  background-color: rgba(0, 0, 0, 0);
  color: var(--textColor);
  transition: color 0.2s;
}

#themeChanger:hover {
  color: var(--iconHover);
}

#themeChanger i {
  font-size: 75px;
}

@media (max-width: 1000px) {
  .mdc-text-field {
    width: 75%;
  }

  #dsc {
    margin-bottom: 0px;
  }

  #calculations {
    flex-direction: column;
    align-items: center;
  }

  #have {
    margin-bottom: 125px;
  }
}
