:root {
  --mdc-theme-primary: rgb(0, 160, 255);
  --mdc-theme-secondary: var(--mdc-theme-primary);

  --buttonHover: rgba(0, 160, 255, 0.75);
}

html[data-theme="dark"] {
  --background: rgb(35, 35, 35);
  --background2: rgb(45, 45, 45);

  --textColor: white;
  --textColor2: rgb(200, 200, 200);

  --hrColor: rgba(255, 255, 255, 0.25);

  --iconHover: rgb(200, 200, 200);

  --textFieldTextColor: rgba(255, 255, 255, 0.75);
  --textFieldLabelColor: rgba(255, 255, 255, 0.6);
  --textFieldBackground: rgba(150, 150, 150, 0.12);

  --radioColor: rgba(255, 255, 255, 0.2);
}

html[data-theme="light"] {
  --background: rgb(220, 220, 220);
  --background2: rgb(230, 230, 230);
  
  --textColor: black;
  --textColor2: rgb(55, 55, 55);

  --hrColor: rgba(0, 0, 0, 0.25);

  --iconHover: rgb(70, 70, 70);

  --textFieldTextColor: rgba(0, 0, 0, 0.75);
  --textFieldLabelColor: rgba(0, 0, 0, 0.6);
  --textFieldBackground: rgba(150, 150, 150, 0.12);

  --radioColor: rgba(0, 0, 0, 0.75);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:not(.material-icons) {
  font-family: 'Roboto', sans-serif;
}

.mdc-ripple-surface::before, .mdc-ripple-surface::after {
  background-color: white;
}

.mdc-text-field input {
  color: var(--textFieldTextColor) !important;
}

.mdc-text-field .mdc-floating-label  {
  color: var(--textFieldLabelColor) !important;
}

.mdc-text-field--focused .mdc-floating-label  {
  color: var(--mdc-theme-primary) !important;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: var(--textFieldBackground) !important;
}

.mdc-text-field {
  margin: 8px 0;
  width: 100%;
}

.mdc-radio ~ label {
  cursor: pointer;
}

.mdc-radio .mdc-radio__native-control:enabled:not(:checked) + .mdc-radio__background .mdc-radio__outer-circle {
  border-color: var(--radioColor);
}

.z-depth-2 {
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
}

button {
  cursor: pointer;
  border: none;
}

hr {
  border-color: var(--hrColor);
  margin: 20px 0;
}

body {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--background);
  color: var(--textColor);
}

#timeRemaining {
  position: fixed;
  top: 25px;
  font-size: 35px;
  font-weight: bold;
}

#calculator {
  background-color: var(--background2);
  width: 45%;
  border-radius: 7px;
  padding: 25px 50px;
  text-align: center;
}

#calculations {
  display: none;
  justify-content: space-around;
  font-size: 16px;
  text-align: center;
  margin: 33px 20px 0 0;
}

#calculations span {
  font-weight: bold;
}

#calculations p {
  color: var(--textColor2);
  font-weight: 450;
  margin: 15px 0;
}

#info {
  display: none;
  margin: 45px 0;
  text-align: center;
  font-size: 19px;
  font-weight: 450;
}

#radios, #calculatorSelector {
  display: flex;
  justify-content: space-around;
  margin: 10px 0;
}

#calculateButton {
  font-weight: bold;
  transition: background-color 0.25s;
}

#calculateButton:hover {
  background-color: var(--buttonHover) !important;
}

#themeChanger {
  position: absolute;
  right: 25px;
  bottom: 25px;
  background-color: rgba(0, 0, 0, 0);
  color: var(--textColor);
  transition: color 0.2s;
}

#themeChanger:hover {
  color: var(--iconHover);
}

#themeChanger i {
  font-size: 50px;
}

@media (max-width: 1000px) {
  #timeRemaining {
    font-size: 20px;
    left: 20px;
    top: calc(100% - 50px);
  }

  #timeRemaining span {
    display: none;
  }

  #calculator {
    width: 100%;
  }
}

@media (max-height: 825px) {
  #timeRemaining {
    font-size: 20px;
    left: 20px;
    top: calc(100% - 50px);
  }

  #timeRemaining span {
    display: none;
  }
}
