.tooltip {
    position: relative;

    .tooltip-text {
        position: absolute;
        pointer-events: none;
        padding: 0.5em 1em;
        width: max-content;
        scale: 0;
        transform-origin: bottom;
        border-radius: 0.25em;
        bottom: calc(var(--bottom, 3rem) + 1rem);
        background-color: var(--theme-200);
        transition: scale 250ms;
    }

    &.left .tooltip-text,
    &.right .tooltip-text {
        transform: initial;
    }

    &.left .tooltip-text {
        left: 0;
    }

    &.middle .tooltip-text {
        left: 50%;
        transform: translateX(-50%);
    }

    &.right .tooltip-text {
        left: initial;
        right: 0;
    }

    &:hover .tooltip-text {
        scale: 1;
    }
}