@use "./colors" as *;

.icon-button {
    background-color: transparent;
    color: $color-primary;
    border-radius: 1000px;
    width: 2.5em;
    height: 2.5em;
}

.text-button {
    background-color: transparent;
    color: $color-primary;
}