.number-input {
    background-color: var(--theme-200);
    color: var(--theme-text-color);
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    letter-spacing: 1.25px;
    border: none;
    outline: none;
    padding: 0.75em 0;
    border-radius: 0.25em;
    width: 100%;

    &::placeholder {
        color: var(--theme-300);
    }

    &::-webkit-inner-spin-button {
        opacity: 0;
    }
}

.date-input {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--theme-200);
    font-size: 20px;
    padding: 0.75em;
    border-radius: 0.25em;
    transition: outline 200ms;

    .invalid-tooltip {
        position: absolute;
        top: -2.5em;
        opacity: 0;
        transform: translateY(100%);
        font-size: 0.8em;
        font-weight: bold;
        background-color: hsl(0, 100%, 25%);
        color: red;
        padding: 0.25em 1.25em;
        border-radius: 100000px;
        transition: 
            opacity 200ms,
            transform 200ms;

        &.show {
            transform: translateY(0%);
            opacity: 1;
        }
    }

    .input-wrapper {
        position: relative;

        &:not(:last-of-type)::after {
            content: "";
            position: absolute;
            right: 8px;
            width: 2px;
            border-radius: 1000000px;
            height: 100%;
            background-color: var(--theme-300);
        }
    }
    
    input {
        background-color: transparent;
        color: var(--theme-text-color);
        font-size: 1em;
        font-weight: bold;
        text-align: center;
        letter-spacing: 1.25px;
        border: none;
        width: 100%;
        transition: color 200ms;

        &::placeholder {
            color: var(--theme-300);
        }

        &::-webkit-inner-spin-button {
            opacity: 0;
        }

        &:focus {
            outline: none;
        }
    }

    .date-picker-button {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        color: var(--theme-text-color);
        border: none;
        outline: none;
        cursor: pointer;
    }

    &.invalid {
        outline: 2px solid red;
        
        input {
            color: red;
        }
    }
}