@use "./colors" as *;

html[data-theme="dark"] {
    --theme-100: #{$color-dark-1};
    --theme-200: #{$color-dark-2};
    --theme-inverted-100: #{$color-light-1};
    --theme-inverted-200: #{$color-light-2};
}

html[data-theme="light"] {
    --theme-100: #{$color-light-1};
    --theme-200: #{$color-light-2};
    --theme-inverted-100: #{$color-dark-1};
    --theme-inverted-200: #{$color-dark-2};
}