:root {
  --darkMode: rgb(45, 45, 45);
  --darkMode2: rgb(40, 40, 40);
}

* {
  margin: 0;
  padding: 0;
  color: white;
  font-family: Roboto, Arial;
}

html {
  height: 100%;
}

body {
  position: absolute;
  background-color: var(--darkMode2);
  width: 100%;
  height: 100%;
}

body * {
  font-family: Roboto, Arial;
}

#main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

#content {
  background-color: var(--darkMode);
  padding: 25px;
  border-radius: 7px;
  width: 20%;
  text-align: center;
}

#content h4 {
  font-weight: bold;
}

#content form .radio {
  width: 50%;
  float: left;
  margin: 20px 0px;
}

#streakDate {
  margin: 20px 0px;
}

#desiredStreakText, #streakStartDate {
  margin-bottom: 20px;
}

#timeRemainingText {
  position: absolute;
  font-size: 40px;
  font-weight: bold;
  width: 100%;
  top: 20px;
  text-align: center;
}

#multiplier {
  font-weight: bold;
  color: lightgray;
  text-align: left;
  padding: 10px;
}

@media(max-width: 2015px) {
  #content {
    width: 25%;
  }
}

@media(max-width: 1600px) {
  #content {
    width: 33%;
  }

  #timeRemainingText {
    font-size: 35px;
  }
}

@media(max-width: 1250px) {
  #content {
    width: 50%;
  }

  #timeRemainingText {
    font-size: 25px;
  }
}

@media(max-width: 650px) {
  #content {
    width: 100%;
  }

  #timeRemainingText {
    font-size: 20px;
  }
}
