:root {
  --darkMode: rgb(45, 45, 45);
}

* {
  margin: 0;
  padding: 0;
  color: white;
  font-family: Roboto, Arial;
}

body {
  position: absolute;
  background-color: var(--darkMode);
  width: 100%;
  height: 100%;
}

body * {
  font-family: Roboto, Arial;
}

#main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

#content {
  padding: 25px;
  border-radius: 7px;
  width: 20%;
  text-align: center;
}

#content h4 {
  font-weight: bold;
}

#streakDate {
  margin: 20px 0px;
}

#desiredStreakText {
  margin-bottom: 20px;
}